* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(170deg, #bdbdbd 450px, #0587b3ea 452px);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: "Julius Sans One", sans-serif;
  letter-spacing: 0.08em;
}

h1 {
  font-family: "Big Shoulders Inline Display", cursive;
  font-size: 3rem;
  color: #0587b3ea;
  padding: 0.9375rem 0;
}

h3 {
  width: 95%;
  font-size: 1.35rem;
  margin: 3.5% auto 3% auto;
}

p,
a {
  font-size: 0.9rem;
}

footer {
  font-size: 0.6rem;
  text-align: center;
  color: #ffff;
}

.flex {
  display: flex;
}

header {
  margin: 1.25rem auto 0.3125rem auto;
  width: 92.5%;
}

ul {
  flex-direction: column;
  list-style-type: none;
}

nav li {
  font-weight: bold;
  padding: 0.625rem 0;
  background-color: #dfdfdf;
  width: 100%;
  margin: 0.625rem 0;
  cursor: pointer;
  border-radius: 0.234375rem;
}
nav li:hover {
  color: white;
  background-color: #0587b3ea;
  transition: 0.5s;
}
nav li:not(:hover) {
  transition: 0.75s;
}

.portfolio,
.contact {
  display: none;
}

.portfolio {
  padding-bottom: 2rem;
}

.portfolio ul {
  width: 85%;
  margin: 0.3125rem 5% 0 10%;
  font-size: 0.75rem;
  list-style-type: circle;
  font-weight: bold;
}
.portfolio ul li {
  text-align: left;
  margin-bottom: 0.3125rem;
}

.projectCard {
  margin: 0.625rem 0;
  flex-direction: column;
}

.projectLink {
  width: 90%;
  margin: 0 auto 0.234375rem auto;
}
.projectLink img {
  max-width: 95%;
  border-radius: 0.3125rem;
}
.projectLink img:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.projectLink img:not(:hover) {
  transition: 0.5s;
}

.aLink {
  text-decoration: none;
  color: black;
}
.aLink:hover {
  color: #0587b3ea;
  transition: 0.5s;
}
.aLink:not(:hover) {
  transition: 0.75s;
}

.open {
  width: 1rem;
}

.contact {
  font-weight: bold;
}

.containerInfo {
  font-weight: bold;
  justify-content: center;
}
.containerInfo a, .containerInfo p {
  margin: 1.25rem 0.625rem;
}
.containerInfo div {
  justify-content: center;
}

.outerCircle {
  fill: #0587b3ea;
}

.logoFill {
  fill: #dfdfdf;
}

.social {
  width: 3.125rem;
  cursor: pointer;
}
.social:hover .logoFill {
  fill: #ffff;
  transition: 0.5s;
}
.social:not(:hover) .logofill {
  transition: 0.5s;
}

.container {
  flex-direction: column;
  width: 92.5%;
  margin: 0.625rem auto 0 auto;
  background-color: #dfdfdf;
  border-radius: 0.25rem;
}

.profile-pic {
  margin-top: auto;
  width: 100%;
}

footer {
  text-align: center;
  margin: 0.3125rem auto;
  width: 50%;
}

@media (min-width: 480px) {
  nav li {
    font-size: 1.25rem;
  }

  .portfolio ul {
    font-size: 1rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .containerInfo p,
.containerInfo a {
    font-size: 1.2rem;
  }

  .social {
    width: 4.0625rem;
  }
}
@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  nav li {
    width: 32%;
  }

  .home,
.contact {
    justify-content: flex-end;
    flex-direction: row;
  }

  .containerInfo {
    width: 50%;
    margin: 10% auto;
  }

  .profile-pic {
    width: 45%;
  }

  .portfolio {
    padding-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio :first-of-type.projectCard {
    width: 75%;
  }
  .portfolio h1 {
    width: 100%;
  }

  .projectCard {
    width: 50%;
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.95rem;
  }

  .containerInfo p,
.containerInfo a {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
