* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(170deg, $bg-1 450px, $bg-2 452px);
    background-size: cover;
    background-repeat: no-repeat;
}